.info-me-container {
  .row {
    .content-left {
      color: var(--body_color);
      .information {
        text-align: justify;
        a {
          color: var(--film_highlight_color);
          text-decoration: none;
          font-size: 0.8rem;
          font-weight: 600;
          &:hover {
            font-weight: 700;
            text-decoration: underline;
          }
        }
        .info {
          font-size: 0.7rem;
        }
      }
    }
    .content-right {
      display: flex;
      align-items: start;
      justify-content: space-between;
      padding: 0 3rem;
      .category {
        color: var(--body_color);
        // text-align: center;
        .title {
          font-size: 16px;
          font-weight: 600;
        }
        .genres {
          margin-top: 0.4rem;
          padding: 0;
          list-style-type: none;

          .genre-item {
            line-height: 1.5;
            font-size: 16px;
            color: var(--film_highlight_color);
            font-weight: 700;
          }
        }
      }
    }
  }
}
