.home-page-mobile {
  .container {
    .home-page-mobile_wrapper {
      .more-info {
        color: var(--body_color);
        .title {
          text-align: center;
          font-size: 1.2rem;
          font-weight: 700;
          text-transform: uppercase;
        }
        .socials-connect {
          .list-item {
            margin-top: 0.4rem;
            padding: 0;
            gap: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            .item {
              i {
                font-size: 1.4rem;
                transition: all 0.3s linear;
                &:hover {
                  cursor: pointer;
                  color: var(--film_highlight_color);
                  transform: scale(1.2);
                }
              }
            }
          }
        }
      }
    }
  }
}
