.list-slider-component-container {
  .list-slider_wrapper {
    .list-slider_item {
      min-height: 250px;
      padding: 0.3rem 0;
      margin: 1rem 0 2rem 0;
      position: relative;
    }
  }
}
