.film-info-mobile_container {
  .container {
    .row {
      color: var(--body_color);
      padding: 1rem 0;
      .film-name {
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        padding: 1rem 0;
      }
      .film-info_wrapper {
        .wrapper_poster {
          .image {
            border-radius: 0.5rem;
            width: 100%;
            height: 250px;
            background-image: url("../../../assets/image/poster-film.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        }
        .wrapper_info {
          background-color: var(--background_color_component);
          margin-top: 0.5rem;
          border-radius: 0.5rem;
          .wrapper_info-item {
            padding: 10px 0;
            text-align: center;
            text-transform: capitalize;
            border-bottom: 1px solid var(--film_info_border);
          }
        }
      }
      .film-button_wrapper {
        margin-top: 0.5rem;
        .buttons {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          border-radius: 0.5rem;
          background-color: var(--film_wrapper_button);
          padding: 0.7rem;
          .film-play_button {
            background-color: var(--film_button_color);
            color: #fff;
          }
          .btn_unlike {
            background-color: var(--film_unlike_button) !important;
          }
        }
      }
      .film-episode {
        margin-top: 0.5rem;
        .wrapper {
          padding: 1rem;
          border-radius: 0.5rem;
          background-color: var(--film_wrapper_button);
          .title {
            text-transform: capitalize;
            font-weight: 600;
          }
          .episodes {
            max-height: 400px;
            //   height: 90%;
            overflow-x: hidden;
            scroll-behavior: smooth;
            display: flex;
            flex-wrap: wrap;
            gap: 0.1rem;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            .episode_button {
              width: 19%;
              background-color: var(--film_episode_color);
              font-weight: 600;
              color: var(--body_color);
              transition: all 0.1s ease-in-out;
              &:hover {
                background-color: var(--film_button_color_hover);
              }
            }
          }
        }
      }
      .film-desc {
        margin-top: 0.5rem;
        .wrapper {
          padding: 1rem;
          border-radius: 0.5rem;
          background-color: var(--film_wrapper_button);
          .title {
            text-transform: capitalize;
            font-weight: 600;
          }
          .desc {
            text-align: justify;
          }
        }
      }
    }
  }
}
