.home-page-container {
  .container {
    .home-page_pc-tb {
      border-radius: 0.5rem;
      // border: 1px solid #ccc;
      background-color: var(--background_color_component);
      padding: 1rem;
      .contact-me {
        padding: 1rem 2rem 0 2rem;
        color: var(--body_color);
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        .copyright {
          font-size: 1.2rem;
          font-weight: 600;
        }
        .social-connect {
          display: flex;
          justify-content: center;
          align-items: center;
          list-style-type: none;
          gap: 1rem;
          padding: 0;
          .social-item {
            i {
              font-size: 1.4rem;
              font-weight: 700;
              transition: all 0.3s ease-in-out;
              &:hover {
                cursor: pointer;
                color: var(--film_highlight_color);
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }
}
